

body{
    background-color: rgb(69, 69, 69);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.info{
    font-size: 10px;
    font-style: italic;
    color: rgb(137, 139, 139);
    display: block;
    width: 500px;
    margin: auto;
}

#secretContent{
    width: 500px;
    height: 300px;
    display: none;
    margin: auto;
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
    word-wrap: break-word;
    overflow: auto;
    
    
}

#secretContent h3{
    text-align: center;
    
}
.textField{
    width: 500px;
    height: 200px;
    display: block;
    border-radius: 10px;
    margin: auto;
    resize: none;
    text-align: center;
    text-align-last: center;
    font-size: 20px;
    padding: 20px;
    
}

.textField-token{
    width: 500px;
    height: 100px;
    display: block;
    border-radius: 10px;
    margin: auto;
    resize: none;
    text-align: center;
    text-align-last: center;
    font-size: 20px;
    padding: 20px;
    
}

.logotipo {
    display: block;
    max-width: 40%;
    max-height: 40%;
    margin:auto;
    margin-bottom: 5px;
    
    
}



.container{
    background-color: white;
    width: 900px;
    height: 500px;
    position: relative;
    margin: auto;
    margin-top: 100px;
    padding: 50px;
    border-radius: 3px;
    box-shadow: 2px 2px 2px rgb(81, 81, 81);
   
    
}

.index-text{
    width: 500px;
    height: 50px;
    display: block;
    margin:auto;
    margin-bottom: 20px;
    text-align: center;
    font-size: 30px;
    font-style: italic;
}

.container-buttons{
    width: 500px;
    display: block;
    margin:auto;
    margin-top: 5px;
}


.container-buttons button{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 500px;
    border-radius: 3px;
}

.container-buttons button:hover{
    background-color: #358038;
}

.container-buttons button:active{
    background-color: #3e8e41;
    transform: translateY(4px);
    border-radius: 3px;
}

#criarSegredo{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 500px;
    border-radius: 3px;
    margin-bottom: 5px;
}

#criarSegredo:hover{
    background-color: #358038;
}

#criarSegredo:active{
    background-color: #3e8e41;
    transform: translateY(4px);
    border-radius: 3px;
}

#revelarSegredo{
    background-color: #0d86f0; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 500px;
    border-radius: 3px;
    margin-bottom: 5px;
}

#revelarSegredo:hover{
    background-color: #0762b2;
}

#revelarSegredo:active{
    background-color: #0762b2;
    transform: translateY(4px);
    border-radius: 3px;
}

#home{
    background-color: #fa6d21; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 500px;
    border-radius: 3px;
    margin-bottom: 5px;
    margin-top: 7px;
}

#home:hover{
    background-color: #c05922;
}

#home:active{
    background-color: #c05922;
    transform: translateY(4px);
    border-radius: 3px;
}

#delete{
    background-color: #ff4848; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 500px;
    border-radius: 3px;
    margin-bottom: 5px;
}

#delete:hover{
    background-color: #e23333;
}

#delete:active{
    background-color: #e23333;
    transform: translateY(4px);
    border-radius: 3px;
}

.container-tempo{
    width: 500px;
    display: block;
    margin:auto;
    margin-top: 5px;
}

#secret {
    text-align: center;
    color: #0d86f0;
}

#lifetime {
    text-align: center;
}

footer {
    text-align: center;
}

a {
    text-decoration: none;
    color: rgb(183, 177, 255);
    
}
 .footer-text{
    color: azure;
 }


